@import "ember-bootstrap/bootstrap";
@import "./variables.scss";
@import './animations.scss';

.card {
  border-radius: 0;
  position: relative;
}

.card-body {
  min-height: 15em;
}

.card-action.card-action--disable {
  pointer-events: none;
  opacity: 0.5;
  background: inherit;
  border: none;
}

.card-action svg {
  cursor: pointer;
  g {
    fill: $alpha;
  }
}

.form-check {
  padding: 0.5em 1.25em;
}

.score-card__body {
  min-height: 10em;
  background: $beta;
}

.app-header.app-header--color {
  background: $alpha;
}

.btn.btn-primary {
  background: $alpha;
  border: none;
}

.progress__container {
  background: $delta;
}

.progress__container--gamma {
  background: $gamma;
}

.btn {
  content: "";
  text-transform: uppercase;
  border-radius: 0;
}

textarea.form-control {
  border-radius: 0;
}

.text--break {
  word-break: break-word;
}
