<nav class="navbar navbar-dark box-shadow app-header app-header--color">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand" }} {{svg-jar "molecule"}}  QUIZZA{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                {{#link-to 'index' tagName="li" }}
                    <a href="">Home</a>
                {{/link-to}}
            </ul>
        </div>
    </div>
</nav>
