<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading text--break">{{name}}</h1>
        <p class="lead text-muted">{{description}}</p>
        <br >
        <p class="lead text-muted">
            <h5>Dieses Quiz enthält {{totalCount}} Fragen</h5>
        </p>
        <p>
          <button class="btn btn-primary" {{action "start"}} >
            nimm Quiz
          </button>
        </p>
    </div>
</section>
