<div class ="progress progress__container" style="height: 2px;">
  <div class="progress-bar progress__container--gamma" role="progressbar" style="width: {{prorgess}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="question-box">
  {{question-box
    id=model.id
    headline=model.headline
    choices=model.choices
    questionType=model.question_type
    selectedValue=model.selectedValue
    onChange=(action "handleChange")
    isPrevDisabled=isPrevDisabled
    isNextDisabled=isNextDisabled
    onShowPrevQuestion=(action "showPrevQuestion")
    onShowNextQuestion=(action "showNextQuestion")
  }}
</div>
